<div class="author">
    <h1 class="author__heading">Hello, I'm Brandon Torrens.</h1>
    <p class="author__body">Software Engineer and FIU Student</p>
</div>

<img src="/img/cute-brandon.jpg" alt="Brandon looking cute" class="cute-brandon"
    width="500" height="600">

<section class="atricle">
    <h2 class="article__heading">Latest Posts</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%=
                    post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>

</section>